<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-8 offset-2">
			<h4 class="text-center my-5">本当に退会しますか？</h4>
			<p class="text-center">退会すると、会員登録情報やレシピが閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。</p>
			<%= link_to "TOPページに戻る", root_path, class: "btn btn-warning btn-{themecolor} rounded-pill btn-block mb-4" %>
			<%= link_to "退会する", customers_withdraw_path, method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-danger btn-{themecolor} rounded-pill btn-block" %>
	  </div>
	  <div class="offset-lg-4 offset-md-3 offset-sm-2 offset-2"></div>
	</div>
</div>