<div class="container">
  <div class="row mt-5 border-bottom">
    <div class="col-md-12">
      <h4>フォローしている人 <%= @customer.followings.count %></h4>
    </div>
  </div>
  <% if @customers.present? %>
    <%= render "index", customers: @customers %>
  <% else %>
    <p class="mt-4">フォローユーザーがいません</p>
  <% end %>
</div>