@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.custom-form-group {
  display: flex;
  flex-wrap: wrap;

  label {
    width: 100%;
  }

  input, textarea, select {
    width: 90%;
  }
}

.recipe-component {
  display: flex;
  justify-content: space-between;
}

.customer-follow-list {
  display: flex;
  justify-content: space-between;
}

.show-image {
  object-fit: cover;
  height: 635px;
  width: 635px;
}

@media screen and (max-width: 1199px) {
  .show-image {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 991px) {
  .show-image {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 414px) {
  .show-image {
    height: 384px;
    width: 384px;
  }
}

@media screen and (max-width: 390px) {
  .show-image {
    height: 360px;
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .show-image {
    height: 345px;
    width: 345px;
  }
}

.index-image {
  object-fit: cover;
  height: 253px;
  width: 253px;
}

@media screen and (max-width: 1199px) {
  .index-image {
    height: 210px;
    width: 210px;
  }
}

@media screen and (max-width: 767px) {
  .index-image {
    height: 240px;
    width: 240px;
  }
}

@media screen and (max-width: 414px) {
  .index-image {
    height: 177px;
    width: 177px;
  }
}

@media screen and (max-width: 390px) {
  .index-image {
    height: 165px;
    width: 165px;
  }
}

@media screen and (max-width: 375px) {
  .index-image {
    height: 157px;
    width: 157px;
  }
}
