@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.custom-form-group {
  display: flex;
  flex-wrap: wrap;

  label {
    width: 100%;
  }

  input, textarea, select {
    width: 90%;
  }
}

.recipe-component {
  display: flex;
  justify-content: space-between;
}

.customer-follow-list {
  display: flex;
  justify-content: space-between;
}

.show-image {
  object-fit: cover;
  height: 635px;
  width: 635px;
}

@media screen and (max-width: 1199px) {
  .show-image {
    height: 530px;
    width: 530px;
  }
}

@media screen and (max-width: 991px) {
  .show-image {
    height: 390px;
    width: 390px;
  }
}

@media screen and (max-width: 767px) {
  .show-image {
    height: 510px;
    width: 510px;
  }
}

@media screen and (max-width: 480px) {
  .show-image {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 414px) {
  .show-image {
    height: 384px;
    width: 384px;
  }
}

@media screen and (max-width: 390px) {
  .show-image {
    height: 360px;
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .show-image {
    height: 345px;
    width: 345px;
  }
}

.index-image {
  object-fit: cover;
  height: 253px;
  width: 253px;
}

@media screen and (max-width: 1199px) {
  .index-image {
    height: 210px;
    width: 210px;
  }
}

@media screen and (max-width: 767px) {
  .index-image {
    height: 240px;
    width: 240px;
  }
}

@media screen and (max-width: 575px) {
  .index-image {
    height: 177px;
    width: 177px;
  }
}

@media screen and (max-width: 480px) {
  .index-image {
    height: 210px;
    width: 210px;
  }
}

@media screen and (max-width: 414px) {
  .index-image {
    height: 177px;
    width: 177px;
  }
}

@media screen and (max-width: 390px) {
  .index-image {
    height: 165px;
    width: 165px;
  }
}

@media screen and (max-width: 375px) {
  .index-image {
    height: 157px;
    width: 157px;
  }
}

.field_with_errors {
  display: contents;
}

.slide-image {
  object-fit: cover;
  height: 445px;
  width: 445px;
}

@media screen and (max-width: 1199px) {
  .slide-image {
    height: 370px;
    width: 370px;
  }
}

@media screen and (max-width: 991px) {
  .slide-image {
    height: 270px;
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .slide-image {
    height: 510px;
    width: 510px;
  }
}

@media screen and (max-width: 480px) {
  .slide-image {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 414px) {
  .slide-image {
    height: 384px;
    width: 384px;
  }
}

@media screen and (max-width: 390px) {
  .slide-image {
    height: 360px;
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .slide-image {
    height: 345px;
    width: 345px;
  }
}

@media screen and (min-width:480px) and ( max-width:767px) {
  .search-text {
    order: 1;
    width: 100%;
    margin-bottom: 8px;
  }

  .search-category {
    order: 3;
    width: 50%;
  }

  .search-calorie {
    order: 2;
    width: 49%;
    margin-left: auto;
  }

  .search-submit {
    order: 4;
    margin-top: 8px;
    margin-left: auto;
  }

  .search-submit-wrap {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  .search-form {
    justify-content: space-between;
    display: flex;
  }

  .search-text {
    order: 1;
    flex-basis: 40%;
    margin-right: 8px;
  }

  .search-category {
    order: 2;
    flex-basis: 25%;
    margin-right: 8px;
  }

  .search-calorie {
    order: 3;
    flex-basis: 15%;
    margin-right: 8px;
  }

  .search-submit {
    order: 4;
    flex-basis: 10%;
    margin-left: auto;
  }

  .search-submit-wrap {
    order: 4;
    flex-basis: 10%;
    display: inline-block;
  }
}

@media screen and (min-width:1024px) {
  .search-text {
    order: 1;
    margin-right: 8px;
  }

  .search-category {
    order: 2;
    margin-right: 8px;
  }

  .search-calorie {
    order: 3;
    margin-right: 8px;
  }

  .search-submit {
    order: 4;
  }

  .search-submit-wrap {
    order: 4;
    display: inline-block;
  }
}

.customer-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.food-menu, .btn-menu, .procedure-menu {
  display: flex;
  justify-content: space-between
}

.news-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.notification-image {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.form-width {
  width: 90%;
}

.news-display {
  display: flex;
}

.top-news-image {
  height: 68px;
  width: 68px;
  object-fit: cover;
}

.crown-color {
  color: #f7cb00;
}